.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wordsWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.possibilitiesWrapper {
  display: flex;
  flex: 1;
  height: 552px;
  overflow: scroll;
  overflow-x: hidden;
}

.possibilitiesList {
  margin: 0;
  padding: 0 0 0 16px;
}

.possibility {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wordWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.letterWrapper {
  display: flex;
  flex-direction: row;
}

.letterInputFound {
  color: #ffffff;
  width: 50px;
  font-size: 40px;
  display: inline-block;
  background-color: #6aaa64;
  border-radius: 6px 0px 0px 6px;
  border-width: 2px;
  border-style: solid;
  font-size: 20px;
  cursor: pointer;
  margin-left: 12px;
  text-align: center;
}

.letterInputLocationUnknown {
  color: #ffffff;
  width: 50px;
  font-size: 40px;
  display: inline-block;
  background-color: rgb(201, 180, 88);
  border-radius: 6px 0px 0px 6px;
  border-width: 2px;
  border-style: solid;
  font-size: 20px;
  cursor: pointer;
  margin-left: 12px;
  text-align: center;
}

.letterInputNotFound {
  color: #ffffff;
  width: 50px;
  font-size: 40px;
  display: inline-block;
  background-color: rgb(120, 124, 126);
  border-radius: 6px 0px 0px 6px;
  border-width: 2px;
  border-style: solid;
  font-size: 20px;
  cursor: pointer;
  margin-left: 12px;
  text-align: center;
}

.letterStateButtons {
  display: inline-flex;
  flex-direction: column;
}

.correctButton {
  background-color: #6aaa64;
  padding: 0px 4px;
  border-radius: 0px 6px 0px 0px;
  border-width: 2px 2px 1px 0;
  border-style: solid;
  font-size: 20px;
  cursor: pointer;
  transition: 0.25s ease;
  color: #ffffff;
}

.presentButton {
  background-color: rgb(201, 180, 88);
  padding: 0px 4px;
  border-radius: 0px;
  border-width: 1px 2px 1px 0;
  border-style: solid;
  font-size: 20px;
  cursor: pointer;
  transition: 0.25s ease;
  color: #ffffff;
}

.incorrectButton {
  background-color: rgb(120, 124, 126);
  padding: 0px 4px;
  border-width: 1px 2px 2px 0;
  border-radius: 0px 0px 6px 0px;
  border-style: solid;
  font-size: 20px;
  cursor: pointer;
  transition: 0.25s ease;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .letterInputFound {
    width: 30px;
    margin-left: 6px;
  }

  .letterInputLocationUnknown {
    width: 30px;
    margin-left: 6px;
  }

  .letterInputNotFound {
    width: 30px;
    margin-left: 6px;
  }
}
